<!-- <p>config-tabs works!</p> -->
<ng-container *ngIf="errorMsg"><div class="alert alert-danger" role="alert">{{errorMsg}}</div></ng-container>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" *ngFor="let tabname of configData | keyValueUnsorted ; first as isFirst; index as index">
    <!-- Key: <b>{{tabname.key}}</b> and Value: <b>{{tabname.value}}</b> -->
    <!-- <h2>{{tabname.key+ "-tab"}} </h2> -->

    <ng-container *ngIf="isFirst; then thenBlock; else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <a class="nav-link active" id='{{tabname.key+ "-tab"}}' data-toggle="tab" href='{{"#"+tabname.key}}' role="tab" aria-controls={{tabname.key}} aria-selected="true" aria-expanded="true">
        {{tabname.key.charAt(0).toUpperCase() + tabname.key.slice(1)}}
      </a>
    </ng-template>
    <ng-template #elseBlock>
      <a class="nav-link" id='{{tabname.key+ "-tab"}}' data-toggle="tab" href='{{"#"+tabname.key}}' role="tab" aria-controls={{tabname.key}} aria-selected="false" aria-expanded="false">
        {{tabname.key.charAt(0).toUpperCase() + tabname.key.slice(1)}}
      </a>
    </ng-template>

  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <ng-container *ngFor="let tabname of configData | keyValueUnsorted ; first as isFirst; index as index">
    <ng-container *ngIf="isFirst; then thenBlock; else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <div class="tab-pane fade show active" id="{{tabname.key}}" role="tabpanel" aria-labelledby='{{tabname.key+ "-tab"}}'>
        <div class="panel-heading"><small>{{tabname.key.charAt(0).toUpperCase() + tabname.key.slice(1) + " configuration"}} </small></div>
        <div id='{{tabname.key+"_body"}}' class="panel-body row">

          <ng-container *ngFor="let configparam of tabname.value | keyValueUnsorted ; first as isFirst; index as index">
            <!-- <h5>{{configparam.key + " :" + configparam.value}}</h5> -->
            <div id='{{tabname.key + "_" + configparam.key + "_form"}}' class="form-group col-md-3">
              <label class="control-label col-md-12 font-weight-bold" for={{tabname.key}}>{{configparam.key.charAt(0).toUpperCase() + configparam.key.slice(1).replace("_"," ")}}</label>
              <div id='{{tabname.key + "_" + configparam.key + "_input"}}' class="col-md-12">
                <!-- here check if  {{tabname.key}} its info so the input is readonly -->
                <!-- here check if  {{configparam.key}} contains password, file, etc..-->
                <input [readonly]="tabname.key.toLowerCase() == 'info' ? 'readonly' : null" id={{configparam.key}} name={{configparam.key}} type="{{configparam.key.includes('password') ? 'password' : 'text'}}" placeholder={{configparam.key}} class="form-control input-md" value={{configparam.value}}>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="tab-pane fade" id="{{tabname.key}}" role="tabpanel" aria-labelledby='{{tabname.key+ "-tab"}}'>
        <div class="panel-heading"><small>{{tabname.key.charAt(0).toUpperCase() + tabname.key.slice(1) + " configuration"}} </small></div>
        <div id='{{tabname.key+"_body"}}' class="panel-body row">

          <ng-container *ngFor="let configparam of tabname.value | keyValueUnsorted ; first as isFirst; index as index">
            <!-- <h5>{{configparam.key + " :" + configparam.value}}</h5> -->
            <div id='{{tabname.key + "_" + configparam.key + "_form"}}' class="form-group col-md-3">
              <label class="control-label col-md-12 font-weight-bold" for={{tabname.key}}>{{configparam.key.charAt(0).toUpperCase() + configparam.key.slice(1).replace("_"," ")}}</label>
              <div id='{{tabname.key + "_" + configparam.key + "_input"}}' class="col-md-12">
                <!-- here check if  {{tabname.key}} its info so the input is readonly -->
                <!-- here check if  {{configparam.key}} contains password, file, etc..-->
                <input [readonly]="tabname.key.toLowerCase() == 'info' ? 'readonly' : null" id={{configparam.key}} name={{configparam.key}} type="{{configparam.key.includes('password') ? 'password' : 'text'}}" placeholder={{configparam.key}} class="form-control input-md" value={{configparam.value}}>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </ng-template>
  </ng-container>
</div>


<!-- Example Template Driven Form -->
<hr />
<div class="container-fluid">
  <h1>Test Template Driven Form:</h1>
  <form #testForm="ngForm" *ngIf="(!submitted); else formSubmittedBlock" (ngSubmit)="onSubmit(testForm)" novalidate>

    #testForm valid: {{ testForm.form.valid }}
    <hr />
    {{ testForm.value | json}}
    <hr />
    {{ testFormModel | json}}


    <div ngModelGroup="tabConfigs">

      <div class="form-group">
        <label>Name</label>
        <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
        class="form-control" [(ngModel)]="testFormModel.userName" name="userName">
        <!-- validating form with class binding: (not working!)-->
        <!-- <small class="text-danger" [class.d-none]="name.valid && name.untouched">Name is required</small> -->
        <!-- validating form using ngif: https://angular.io/guide/form-validation-->
        <div *ngIf="name.errors && (name.invalid || name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Name is required</small>
        </div>
        <!-- {{name.valid}} -->
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="testFormModel.email" name="email">
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="tel" #phone="ngModel" pattern="^\d{9}$" [class.is-invalid]="phone.invalid && phone.touched" required
        class="form-control" [(ngModel)]="testFormModel.phone" name="phone">
        <!-- validating form with class binding: (not working!)-->
        <!-- <small class="text-danger" [class.d-none]="phone.valid && phone.untouched">Phone number is required and must be 10 digits</small> -->
        <!-- validating form using ngif: https://angular.io/guide/form-validation-->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits and follow the pattern</small>
        </div>
        <!-- {{phone.valid}} -->
      </div>

      <div class="form-group">
        <select (blur)="validateSleepMode(sleepMode.value)" (change)="validateSleepMode(sleepMode.value)" required
        #sleepMode="ngModel" [class.is-invalid]="sleepModeHasError && sleepMode.touched"
        class="custom-select" [(ngModel)]="testFormModel.sleepMode" name="sleepMode">
          <option value="default">Sleep mode</option>
          <option *ngFor="let mode of sleepModes">{{ mode }}</option>
        </select>
          <small *ngIf="sleepModeHasError && sleepMode.touched" class="text-danger">Please choose a sleep mode</small>
      </div>

      <div class="mb-3">
        <label>Time preference</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="testFormModel.timePreference">
          <label class="form-check-label">Morning (9AM - 12AM)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="testFormModel.timePreference">
          <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" [(ngModel)]="testFormModel.ota" name="ota">
        <label class="form-check-label">OTA</label>
      </div>

      <button [disabled]="testForm.form.invalid || sleepModeHasError" class="btn btn-primary" type="submit">Submit form</button>
      <ng-container *ngIf="errorMsgPost"><hr /><div class="alert alert-danger" role="alert">{{errorMsgPost}}</div></ng-container>
    </div>


  </form>
  <ng-template #formSubmittedBlock>
    <div *ngIf="dataMsgPost" class="alert alert-success alert-dismissible fade show" role="alert">
      Test form successfully posted to the server: {{dataMsgPost.message}}
    </div>
  </ng-template>

</div>


<!-- Example Reactive Form -->
<hr />
<div class="container-fluid col-md-4">
  <h1>Test Reactive Form:</h1>
  <form [formGroup]="registrationForm">

    <div class="form-group">
      <label>Username</label>
      <input formControlName="userName" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label>Paswsword</label>
      <input formControlName="password" type="password" class="form-control" >
    </div>

    <div class="form-group">
      <label>Confirm Paswsword</label>
      <input formControlName="confirmPassword" type="password" class="form-control" >
    </div>

    <div>{{registrationForm.value | json}}</div>
    <button class="btn btn-primary" type="submit">Register</button>

  </form>

</div>
